<h2 class="mt-5 mb-4 text-center h2sub" id="AptitudesNav" >CONOCIMIENTOS</h2>
<div class="container slider-container d-flex justify-content-center">
        <div class="slider position"></div>
</div>
<div class="container  mb-5">
    <div class="accordion mt-4" id="AcordeonPadre">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button  id="SobreMi" data-bs-toggle="collapse" data-bs-target="#Elemento1Acordeon" class="accordion-button  d-block text-center" style=" background-color: #2c040eff;"><span class="Elemento1H2">He aprendido...</span></button>
            </h2>
            <div id="Elemento1Acordeon" class="accordion-collapse collapse" data-bs-parent="#AcordeonPadre">
                <div class="accordion-body">
                    <p>Poseo conocimientos sólidos en el área del diseño web y desarrollo web (HTML/CSS/SASS/BOOTSTRAP/FIGMA). A lo largo de este año me he adentrado en el área del BackEnd incorporando conocimientos necesarios para poder aplicar lógica, validaciones y excepciones entre otras necesidades para así poder desarrollar lo programado (C#/ .NET FRAMEWORK/ .NET CORE/ API REST/ SQL).</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="#Proyectos" class="container mt-5 d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <a href="#Inicio"><img class="Flechita" src="~/css/rowup1.png" alt="Subir"/></a>
        </div>
    </div>
</div>
<footer>
        <div class="container d-flex justify-content-end contenedor-footer">
            <div class="row">
                <div class="col-12">
                    <h2 class="H2Footer">Derechos reservados <span class="SpanFooter">Fernando Martín Goñi 2022</span></h2>
                </div>
            </div>
        </div>
    </footer>