<div class="container-fluid contenedor-header mt-5 d-flex justify-content-center">
            <div class="row mt-5 mb-5 contendor-home" >

                <div class="div1 col-xl col-lg col-md col-sm   contenedor-presentacion ">
                <h2 class="H2HOME">Hey! Como va?</h2>
                <h4 class="SOYHOME">soy</h4>
                <h1 class="H1HOME"><span>Fernando Goñi</span></h1>
                <h3 class="H3HOME"><span>Developer Full Stack from Argentina</span></h3>
                <p class="Bienvenida">Te doy la bienvenida a mi Portfolio!</p>
                </div>

                <div class="div4 col-xl col-lg col-md col-sm   contenedor-presentacion-foto">
                <img class="img-fluid  img-perfil-mio" src="~/css/miperfil3.png" alt="FotoDePerfil">
                </div>
            </div>
</div>