<header id="Inicio">
            
        <div class="container-fluid contenedor d-flex justify-content-xl-center justify-content-lg-center justify-content-md-center ">
        <nav class="navbar navbar-expand-md ">
            
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#Opciones">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="Opciones">
            
             <ul class="lista navbar-nav">
                <li class="m-3 nav-item"><a class="nav-link" href="#SobreMiNav">SOBRE MI</a></li>
                <li class="m-3 nav-item"><a class="nav-link" href="#ProyectosNav">PROYECTOS</a></li>
                <li class="m-3 nav-item"><a class="nav-link" href="#AptitudesNav">APTITUDES</a></li>
                <li class="m-3 nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contacto">CONTACTO</a></li>
             </ul>
             </div>
          
        </nav>
</div>
            
</header>