<h2 class="mt-5 mb-4 text-center h2sub" id="ProyectosNav">ALGUNOS PROYECTOS</h2>
<div class="container d-flex justify-content-center">
            <div align="center" class="contenedorProyectos row justify-content-center">
              <div class="ImagenDeFondo col-xl-3 col-lg col-md mb-sm-4 ">
                <div class="ImagenSombra">
                    <div class="TituloImagen"><a class="Enlaceproyecto" href="https://github.com/fidux700/Proyecto-.NET-WINFORM" target="_blank">VER CODIGO</a></div>
                    <div class="DescripImagen">APP DESKTOP</div>
                    <div class="DescripImagen2"><h3>PROYECTO 1</h3></div>
                </div>
              </div>
              <div class="ImagenDeFondo col-xl-3 col-lg col-md mb-sm-4">
                <div class="ImagenSombra">
                    <div class="TituloImagen"><a class="Enlaceproyecto" href="https://github.com/fidux700/BarberEyJhon" target="_blank">VER CODIGO</a></div>
                    <div class="DescripImagen">PÁGINA WEB</div>
                    <div class="DescripImagen2"><h3>PROYECTO 2</h3></div>

                </div>
              </div>
              <div class="ImagenDeFondo col-xl-3 col-lg col-md mb-sm-4">
                <div class="ImagenSombra">
                    <div class="TituloImagen"><a class="Enlaceproyecto" href="https://github.com/fidux700/WowHorde" target="_blank">VER CODIGO</a></div>
                    <div class="DescripImagen">PÁGINA WEB</div>
                    <div class="DescripImagen2"><h3>PROYECTO 3</h3></div>
                </div>
              </div>
              <div class="ImagenDeFondo col-xl-3 col-lg col-md mb-sm-4 ">
                <div class="ImagenSombra">
                    <div class="TituloImagen"><a class="Enlaceproyecto" href="https://github.com/fidux700/Ejercicio-Encomiendas-.NET-" target="_blank">VER CODIGO</a></div>
                    <div class="DescripImagen">EJERCICIO</div>
                    <div class="DescripImagen2"><h3>PROYECTO 4</h3></div>
                </div>
              </div>
            </div>
            </div>
            @*FIN SEPARADOR*@
              <div id="#Proyectos" class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <a href="#AptitudesNav"><img class="Flechita" src="~/css/rowdown1.png" alt="Bajar"/></a>
                    </div>
                </div>
            </div>