 <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <a href="#SobreMiNav"><img src="~/css/rowdown1.png" class="Flechita" alt="Bajar"/></a>
                    </div>
                </div>
</div>
@*FIN SEPARADOR*@
<h2 class="mt-5 mb-4 text-center h2sub" id="SobreMiNav">¿QUIEN SOY?</h2>
<div class="container  mb-5">
            <div class="accordion" id="AcordeonPadre">
                <div class="accordion-item mb-4">
                    <h2 class="accordion-header">
                    <button data-bs-toggle="collapse" data-bs-target="#Elemento1Acordeon" class="accordion-button  d-block text-center" style=" background-color: #2c040eff;"><span class="Elemento1H2">Conóceme...</span></button>
                    </h2>
                    <div id="Elemento1Acordeon" class="accordion-collapse collapse" data-bs-parent="#AcordeonPadre">
                        <div class="accordion-body">
                            <p class="PDetalle">Me considero una persona sensata que actúa fiel a sus convicciones asumiendo con total responsabilidad y compromiso las tareas a realizar. Solidaridad, compañerismo y actitud son conceptos respetables a mi parecer, ya que logro identificarme con cada uno de ellos. Siempre listo para los desafíos que traen consigo su respectivo aprendizaje.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-4">
                    <h2 class="accordion-header">
                    <button data-bs-toggle="collapse" data-bs-target="#Elemento2Acordeon" class="accordion-button d-block text-center " style=" background-color: #2c040eff;"><span class="Elemento1H2">Hobbies</span></button>
                    </h2>
                    <div id="Elemento2Acordeon" class="accordion-collapse collapse" data-bs-parent="#AcordeonPadre">
                        <div class="accordion-body">
                            <p class="PDetalle">En mis ratos libres suelo escuchar música, ver documentales sobre tecnología o informarme sobre algún otro tema que haya captado mi atención, admito que soy una persona muy curiosa. En cuánto a los habitos saludables me dedico a entrenar musculación y practicar paddle con amigos.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-4">
                    <h2 class="accordion-header">
                    <button  data-bs-toggle="collapse" data-bs-target="#Elemento3Acordeon" class="accordion-button d-block text-center " style=" background-color: #2c040eff;"><span class="Elemento1H2">Aspiraciones</span></button>
                    </h2>
                    <div id="Elemento3Acordeon" class="accordion-collapse collapse" data-bs-parent="#AcordeonPadre">
                        <div class="accordion-body">
                            <p class="PDetalle">Tengo grandes deseos de iniciarme en la industria de la tecnología. He adquirido como hábito el aprendizaje constante sobre el conocimiento de la programación, reforzandolos mediante la práctica. Anhelo establecerme como desarrollador full stack mediante las herramientas que he aprendido y en parte seguiré aprendiendo. Sería un placer poder lograr todas aquellas metas trazadas en mi mente que son testigo de las ganas y actitud que aplico en mi día a día.</p>
                        </div>
                    </div>
                </div>
               <div class="accordion-item mb-4">
                    <h2 class="accordion-header">
                    <button  data-bs-toggle="collapse" data-bs-target="#Elemento4Acordeon" class="accordion-button d-block text-center " style=" background-color: #2c040eff;"><span class="Elemento1H2">Objetivos</span></button>
                    </h2>
                    <div id="Elemento4Acordeon" class="accordion-collapse collapse" data-bs-parent="#AcordeonPadre">
                        <div class="accordion-body">
                            <p class="PDetalle">Seguir desarrollando paginas web, aplicaciones web, API REST, aplicaciones de escritorio. Elaborar varios proyectos en mente, grandes ideas.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-4">
                    <h2 class="accordion-header">
                    <button data-bs-toggle="collapse" data-bs-target="#Elemento5Acordeon" class="accordion-button d-block text-center" style=" background-color: #2c040eff;"><span class="Elemento1H2">Gratitud</span></button>
                    </h2>
                    <div id="Elemento5Acordeon" class="accordion-collapse collapse" data-bs-parent="#AcordeonPadre">
                        <div class="accordion-body">
                            <p class="PDetalle">Este apartado está dedicado especialmente al usuario que se encuentra leyendo una pequeña parte de lo que soy. Aprecio el tiempo que te has tomado para visitar mi sitio web, agradezco enormemente tu visto hacia mi perfil. Por último te invito a que veas algunos de los proyectos con los que cuento en mi repositorio de GitHub. Gracias!</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            @*FIN SEPARADOR*@
            <div id="Proyectos" class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <a id:"#ProyectosNav" href="#Proyectos"><img class="Flechita" src="~/css/rowdown1.png" alt="Bajar"/></a>
                    </div>
                </div>
            </div>